body {
    background-color: #fff;
    margin: 20px;
    font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
}
header {
    background-color: #4a4f56;
    color: #eb7e7f;
    text-align: center;
}
.container {
    background-color:  #3b3f45;
    height: 100%;
}
main + div {
    width: 100px;
}
li {
    font-size: 20px;
    list-style: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 15px;
    background-color: #88839e;
    color: #fff;
}
li:nth-child(2n) {
    background-color: #7a7593;
}
li:hover {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #625e77;
    transition: all 1s ease;
}
li:active {
    background-color: #eb7e7f;
}
li:checked {
   text-decoration: line-through;
   color: #a3a0b5;
}
ul {
    margin-left: 22%;
width: 730px;
height: 510px;
}
p:not(#footer) {
    display: inline;
    color: #bdbdc9;
    font-size: 15px;
}
p:not(#footer)::after {
    content: ')';
    color: #bdbdc9;
}
p:not(#footer)::before {
content: '(';
color: #bdbdc9;
}
footer {
    height: 50px;
    width: 290px;
    background-color: #4a4f56;
    margin-left: 38%;
    text-align: center;
    font-size: 25px;
    color: #eb7e7f;
}