body {
    background-color: rgba(255, 208, 231, 0.171);
}
container {
margin: 0 auto;
width: 90%;
max-width: 1200px;
}
h1 {
    font-family: sans-serif;
    color:#000;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    background-color: rgba(255, 200, 241, 0.123);
    text-align: center;
}
ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ol li ul {
    margin-bottom: 20px;
}