* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: #2c4058;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}
ul li {
  color: #fff;
}
ul li a {
  color: #fff;
}
ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  outline: 0 none;
  position: relative;
  top: 0;
  right: 0;
  display: none;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #fff;
}

#mobile_menu {
  z-index: 100;
  display: none;
  font-family: "GothamBook";
  padding: 30px;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: 100%;
  top: 0;
  left: -100%;
  position: fixed;
  background-color: #efefef;
  z-index: 110;
  transition: all 0.2s ease;
}
#mobile_menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#mobile_menu ul li {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 20px 0;
}
#mobile_menu ul li ul.soc-list {
  display: flex;
  flex-direction: row;
}
#mobile_menu ul li a {
  text-decoration: none;
  color: #000000;
}
#mobile_menu ul li a:hover {
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}
#mobile_menu.opened {
  left: 0;
}

a {
  text-decoration: none;
}

#menu_shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  opacity: 0;
  transition: all 0.3s ease;
}
#menu_shadow.opened {
  display: block;
  opacity: 1;
}

.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header2 .sep {
  display: inline-block;
  height: 1px;
  width: 100px;
  background: #000;
  margin-top: 100px;
}
.header2 h2 {
  font-size: 44px;
  margin-top: 41px;
  text-transform: uppercase;
  font-family: "GothamBold";
}

.btn1 {
  height: 50px;
  width: 190px;
  border: 1px solid #2c4058;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  margin-bottom: 60px;
}
.btn1:hover {
  transition: all 0.5s ease;
  background-color: #2c4058;
  color: #fff;
}
.btn1:hover > a {
  color: #fff;
}
.btn1:hover:active {
  transition: all 0.3s ease;
  background-color: #fff;
  color: #2c4058;
}
.btn1:hover:active a {
  color: #2c4058;
}
.btn1 a {
  font-family: "GothamBook";
  text-transform: uppercase;
  color: #2c4058;
}
.btn1 a:hover {
  text-decoration: none;
  color: #fff;
}

header {
  font-family: "GothamBook";
  position: fixed;
  z-index: 99;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  background: none;
  padding-top: 53px;
}
header.scrolled {
  background-color: rgba(126, 90, 255, 0.5);
  padding-top: 0;
  height: 60px;
}
header .logo {
  width: 241px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .menu {
  width: 600px;
}
header nav .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .menu ul li {
  font-size: 14px;
  text-transform: uppercase;
}
header nav .menu ul li a {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
}
header nav .menu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center;
  background: none;
}
header nav .menu ul li a:hover:before, header nav .menu ul li a.active:before {
  background: #fff;
}
header nav .soc {
  width: 161px;
}
header nav .soc ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .soc ul li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
header nav .soc ul li a:hover {
  transition: all 0.3s ease;
  color: rgba(126, 90, 255, 0.5);
  background-color: #fff;
}
header nav .soc ul li a:active {
  transition: all 0.3s ease;
  color: #fff;
  background-color: transparent;
}

.sec1 {
  height: 800px;
  display: flex;
  flex-direction: column;
}
.sec1 li {
  height: 800px;
}
.sec1 h2 {
  font-size: 80px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 351px;
  letter-spacing: 4px;
  font-family: "GothamBold";
  text-transform: uppercase;
}
.sec1 .p {
  font-family: "GothamBook";
  font-size: 18px;
  text-transform: uppercase;
  word-spacing: 3.5px;
  letter-spacing: 5.1px;
  display: flex;
  justify-content: center;
}
.sec1 .sec1_arr {
  position: relative;
}
.sec1 .sec1_arr .arrow {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: -70px;
  left: calc(50% - 20px);
}
.sec1 .sec1_arr .arrow span {
  position: relative;
  left: 0;
  top: -19px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
}
.sec1 .sec1_arr .arrow span:before {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(135deg);
  display: block;
  left: 16px;
  top: 16px;
}

.sec2 {
  padding-bottom: 140px;
}
.sec2 .header2 h2 {
  margin-top: 13px;
  padding-top: 15px;
  padding-bottom: 40px;
  font-family: "GothamBold";
}
.sec2 .main-content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
  position: relative;
}
.sec2 .main-content1 .shadow {
  position: absolute;
  height: 470px;
  width: 544px;
  background-color: #55b7ff;
  z-index: -1;
  left: -175px;
  top: 51px;
}
.sec2 .main-content1 .img1 {
  z-index: 98;
  position: relative;
  top: 22px;
}
.sec2 .main-content1 .content2 {
  float: right;
  display: flex;
  flex-direction: column;
  width: 470px;
}
.sec2 .main-content1 .content2 h4,
.sec2 .main-content1 .content2 h2 {
  text-transform: uppercase;
}
.sec2 .main-content1 .content2 h2 {
  font-family: "GothamBold";
  font-size: 44px;
}
.sec2 .main-content1 .content2 h4 {
  font-size: 22px;
  padding-top: 76px;
  font-family: "GothamBook";
}
.sec2 .main-content1 .content2 p {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 32px;
  padding-top: 25px;
  font-family: "Open Sans";
}

.marker {
  font-family: "Open Sans";
  font-style: italic;
}

.sec3 {
  padding-bottom: 123px;
  position: relative;
}
.sec3 .main-content1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 100px;
}
.sec3 .main-content1 .shadow {
  position: absolute;
  height: 470px;
  width: 545px;
  background-color: #7e5aff;
  z-index: -1;
  right: 0;
  top: 17px;
}
.sec3 .main-content1 .img1 {
  z-index: 98;
  position: relative;
  top: -13px;
}
.sec3 .main-content1 .content2 {
  float: left;
  display: flex;
  flex-direction: column;
  width: 470px;
}
.sec3 .main-content1 .content2 h4,
.sec3 .main-content1 .content2 h2 {
  text-transform: uppercase;
}
.sec3 .main-content1 .content2 h4 {
  font-size: 22px;
  padding-top: 41px;
  font-family: "GothamBook";
}
.sec3 .main-content1 .content2 h2 {
  font-size: 44px;
  padding-bottom: 40px;
  font-family: "GothamBold";
}
.sec3 .main-content1 .content2 p {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 32px;
  margin-top: -14px;
  font-family: "Open Sans";
}

.sec4 {
  background: url(../img/bg2.jpg);
  background-size: cover;
  padding-bottom: 140px;
  position: relative;
}
.sec4 img {
  padding-bottom: 17px;
}
.sec4 .news_slider {
  background-color: #fff;
  color: black;
  width: 370px;
  height: 514px;
}
.sec4 .news_slider .img_content {
  position: relative;
  color: black;
  text-transform: uppercase;
}
.sec4 .news_slider .img_content h3 {
  font-size: 22px;
  line-height: 34px;
  font-family: "GothamBold";
  padding-bottom: 4px;
}
.sec4 .news_slider .content4 {
  padding: 0 40px 0 20px;
}
.sec4 .news_slider .content4 .news_text {
  padding-bottom: 32px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans";
}
.sec4 .news_slider .content4 .date {
  color: #55b7ff;
}
.sec4 .news_slider .content4 .author {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.sec4 .news_slider .content4 .author img {
  padding-right: 19px;
  padding-bottom: 30px;
}
.sec4 .news_slider .content4 .author .text {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.sec4 .news_slider .content4 .author .text .name {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: "GothamBook";
}
.sec4 .news_slider .content4 .author .text .date {
  font-size: 14px;
  line-height: 22px;
  font-family: "GothamBook";
  padding-bottom: 33px;
}
.sec4 .news_slider .plus {
  width: 80px;
  height: 80px;
  top: -160px;
  display: block;
  left: 145px;
  position: absolute;
}
.sec4 .news_slider .plus .plusOnHover {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  opacity: 0;
  cursor: pointer;
}
.sec4 .news_slider .plus .plusOnHover:hover {
  opacity: 1;
}
.sec4 .news_slider .plus .plusOnHover:before {
  display: block;
  content: "";
  width: 30px;
  position: absolute;
  left: 25px;
  top: 38px;
  border-top: 1px solid #fff;
}
.sec4 .news_slider .plus .plusOnHover:after {
  display: block;
  content: "";
  height: 30px;
  position: absolute;
  left: 40px;
  top: 23px;
  transform: rotate(180deg);
  border-right: 1px solid #fff;
}
.sec4 .header3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec4 .header3 .sep1 {
  display: inline-block;
  height: 1px;
  width: 100px;
  background: #fff;
  margin-top: 140px;
}
.sec4 .header3 h2 {
  padding-top: 30px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 93px;
  font-family: "GothamMedium";
  font-size: 44px;
}
.sec4 .arr {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.sec4 .arr1 {
  left: 0;
  top: 245px;
}
.sec4 .arr2 {
  right: 0;
  top: 245px;
}
.sec4 #prev {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  border: 1px solid #fff;
  border-radius: 50px;
  left: 75px;
  top: 304px;
  opacity: 0.5;
  transition: opacity 0.35s linear 0s;
  cursor: pointer;
}
.sec4 #prev:before {
  content: "";
  height: 6px;
  width: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  transform: rotate(225deg);
  left: 17px;
  top: 15px;
  opacity: 0.7;
}
.sec4 #prev:hover {
  opacity: 1;
}
.sec4 #next {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  border: 1px solid #fff;
  border-radius: 50px;
  left: -75px;
  top: 305px;
  opacity: 0.5;
  transition: opacity 0.35s linear 0s;
  cursor: pointer;
}
.sec4 #next:before {
  content: "";
  height: 6px;
  width: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  left: 15px;
  top: 16px;
  opacity: 0.7;
}
.sec4 #next:hover {
  opacity: 1;
}

.lSSlideOuter .lSPager.lSpg {
  margin-top: 50px !important;
}

#lg-counter,
.lg-sub-html {
  font-family: "Open Sans";
}

.sec5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec5 .sep {
  margin-top: 140px;
}
.sec5 .header2 h2 {
  margin-top: 30px;
}
.sec5 .btn1 {
  margin-bottom: 140px;
  margin-top: 57px;
}
.sec5 h2 {
  padding-bottom: 92px;
  font-size: 44px;
  font-family: "GothamMedium";
}
.sec5 .gallery {
  display: flex;
  justify-content: space-between;
}
.sec5 .gallery img {
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}
.sec5 .gallery img:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.sec5 .gallery .block_01 {
  width: calc(50% - 5px);
}
.sec5 .gallery .block_02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(50% - 5px);
}
.sec5 .gallery .block_02 .block2-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.sec5 .gallery .block_02 .block2-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sec6 #map {
  height: 700px;
  width: 100%;
  position: relative;
  z-index: 5;
}
.sec6 #map > img {
  width: 100%;
  height: 700px;
}
.sec6 #map_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  opacity: 0;
  z-index: 10;
  bottom: 704px;
  width: 100%;
  height: 700px;
  transition: all 0.3s ease;
}
.sec6 #map_link span {
  position: absolute;
  top: 170px;
}
.sec6 #map_link:hover {
  opacity: 1;
}

.sec7 {
  height: 403px;
  background: url(../img/bg4.jpg);
  background-size: cover;
  position: relative;
}
.sec7 .container {
  max-width: 770px;
  width: 100%;
  height: 100%;
}
.sec7 .header2 .sep {
  margin-top: 0;
}
.sec7 h2 {
  margin-top: 21px;
  padding-bottom: 48px;
  font-family: "GothamMedium";
  font-size: 44px;
}
.sec7 .form {
  width: 770px;
  height: 450px;
  padding: 59px 60px 0px;
  position: absolute;
  bottom: 235px;
  z-index: 98;
  margin-bottom: 19px;
  background: url(../img/bg3.jpg);
}
.sec7 .adress,
.sec7 .email {
  width: 370px;
  font-family: "GothamBook";
  font-size: 18px;
}
.sec7 .adress a,
.sec7 .email a {
  font-family: "GothamBook";
  font-size: 18px;
  color: #2c4058;
}
.sec7 .adress li {
  padding-bottom: 38px;
  color: #2c4058;
}
.sec7 .adress .time {
  padding-bottom: 0;
}
.sec7 .email {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -13px;
}
.sec7 .email .btn1:hover {
  transition: all 0.5s ease;
  background-color: #2c4058;
  color: #fff;
}
.sec7 .email .btn1:hover > a {
  color: #fff;
}
.sec7 .email .btn1:hover:active {
  transition: all 0.3s ease;
  background-color: #fff;
  color: #2c4058;
}
.sec7 .email .btn1:hover:active a {
  color: #2c4058;
}
.sec7 .icon-map-marker-alt-solid,
.sec7 .icon-phone-alt-solid,
.sec7 .icon-inbox-solid,
.sec7 .icon-clock-regular {
  color: #7e5aff;
}
.sec7 input {
  font-family: "GothamBook";
  font-size: 18px;
  width: 310px;
  height: 50px;
  outline: 0 none;
  border: transparent;
  border-bottom: 1px solid #d5d9de;
  margin-bottom: 30px;
  background: transparent;
  margin-top: -3px;
}
.sec7 input:focus {
  border-bottom: 1px solid #2c4058;
  color: #2c4058;
  font-family: "GothamBook";
  font-size: 18px;
}
.sec7 input::placeholder {
  color: #d5d9de;
}
.sec7 input:focus::placeholder {
  color: transparent;
}
.sec7 .getInTouch {
  display: flex;
  justify-content: space-between;
}
.sec7 .footer_wrap {
  padding-top: 202px;
}
.sec7 .footer_wrap .footer {
  padding-bottom: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sec7 .footer_wrap .footer .soc {
  width: 161px;
}
.sec7 .footer_wrap .footer .soc ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sec7 .footer_wrap .footer .soc ul li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.sec7 .footer_wrap .footer .soc ul li a:hover {
  transition: all 0.3s ease;
  color: #7e5aff;
  background-color: #fff;
}
.sec7 .footer_wrap .footer .soc ul li a:active {
  transition: all 0.3s ease;
  color: #fff;
  background-color: transparent;
}
.sec7 .footer_wrap .copyrights {
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "GothamBook";
  font-size: 14px;
}
.sec7 .footer_wrap .copyrights .rights {
  padding-right: 20px;
}
.sec7 .footer_wrap .copyrights .made {
  padding-left: 20px;
  height: 20px;
  border-left: 1px solid white;
}
.sec7 .btn1 {
  width: 140px;
}

@media screen and (max-width: 1420px) {
  .sec4 #prev {
    left: 20px;
  }

  .sec4 #next {
    left: -20px;
  }
}
@media screen and (max-width: 1315px) {
  .sec4 #prev {
    display: none;
  }

  .sec4 #next {
    display: none;
  }
}
@media screen and (max-width: 1215px) {
  .container {
    max-width: 1065px;
  }

  .sec5 .gallery .block_02 {
    flex-wrap: nowrap;
    width: 85%;
  }

  .sec5 .gallery {
    flex-direction: column;
    align-items: center;
  }

  .sec5 .gallery .block_01 {
    width: 85%;
  }

  .block_02.block {
    width: 85%;
  }

  .block2-1.block,
.block2-2.block {
    width: 100%;
  }

  .sec5 .gallery .block_02 .block2-1,
.sec5 .gallery .block_02 .block2-2 {
    width: calc(50% - 5px);
  }
  .sec5 .gallery .block_02 .block2-1 img,
.sec5 .gallery .block_02 .block2-2 img {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 1120px) {
  .container {
    max-width: 1033px;
  }

  .img1 img {
    width: 90%;
  }
}
@media screen and (max-width: 1055px) {
  .container {
    max-width: 990px;
  }

  header nav .menu ul {
    justify-content: space-around;
  }

  .sec2 .main-content1 .content2 {
    width: 335px;
  }

  .sec3 .main-content1 .content2 {
    width: 320px;
  }

  .sec5 .gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 950px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    max-width: 880px;
  }
}
@media screen and (max-width: 1055px) {
  .container {
    max-width: 820px;
  }
}
@media screen and (max-width: 1055px) {
  .sec2 .main-content1 {
    flex-direction: column;
    align-items: flex-end;
  }

  .sec3 .main-content1 {
    flex-direction: column;
    align-items: flex-end;
  }

  .sec2 .main-content1 .content2 {
    width: 100%;
  }

  .sec3 .main-content1 .content2 {
    width: 100%;
  }

  header nav .menu {
    width: 415px;
  }
}
@media screen and (max-width: 880px) {
  .container {
    max-width: 785px;
  }

  .sec1 ul h2 {
    font-size: 65px;
  }

  .sec6 #map {
    bottom: 105px;
  }

  header nav .menu,
.soc {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #mobile_menu {
    display: block;
  }
}
@media screen and (max-width: 820px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .sec5 .gallery .block_02 {
    display: none;
  }

  .sec7 .form {
    width: 100%;
  }

  .sec7 .footer_wrap .footer {
    justify-content: space-around;
  }

  .sec7 .footer_wrap .copyrights {
    display: flex;
    justify-content: center;
  }

  .sec7 .getInTouch {
    flex-direction: column;
    align-items: center;
  }

  .sec7 .adress,
.sec7 .email {
    padding-bottom: 65px;
  }

  .sec7 .email {
    align-items: center;
  }

  .sec7 .form {
    height: 666px;
  }

  .sec1,
.sec1 li {
    height: 580px;
  }

  .sec1 h2 {
    padding-top: 260px;
  }

  /* .sec6 .map>img {
      display: none;
  }
  .sec6 #map #map_link {
      display: none;
  }
  .sec6 #map .click {
      display: block;
      position: absolute;
      top: 15%;
      left: calc(50% - 100px);
      font-family: 'GothamBook';
      color: white;
      font-size: 24px;
  } */
}
@media screen and (max-width: 743px) {
  .sec1 ul h2 {
    font-size: 55px;
  }

  .sec1 .p {
    font-family: "GothamBook";
    font-size: 14px;
  }
}
@media screen and (max-width: 663px) {
  .container {
    width: 58%;
  }

  .sec5 .gallery .block_01 {
    width: 100%;
  }

  .sec2 .main-content1 .shadow {
    height: 365px;
    width: 455px;
  }

  .sec3 .main-content1 .shadow {
    height: 365px;
    width: 455px;
  }
}
@media screen and (max-width: 615px) {
  .sec3 .main-content1 .shadow {
    width: 385px;
  }
}
@media screen and (max-width: 620px) {
  .sec1 ul h2 {
    font-size: 45px;
  }
}
@media screen and (max-width: 600px) {
  .sec3 .main-content1 .shadow {
    width: 345px;
  }

  .img1 img {
    width: 100%;
  }

  .sec1 .p {
    font-size: 12px;
  }

  .sec1 ul h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 577px) {
  .container {
    width: 70%;
  }

  .sec3 .main-content1 .shadow {
    height: 365px;
    width: 295px;
  }
}
@media screen and (max-width: 547px) {
  .sec1 .p {
    letter-spacing: 2.5px;
  }
}
@media screen and (max-width: 480px) {
  .lSSlideOuter .lSPager.lSpg > li {
    padding: 0 10px;
  }

  .sec4 .header3 h2 {
    font-size: 32px;
  }

  .sec2 .header2 h2 {
    font-size: 32px;
  }

  .sec5 h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 477px) {
  .sec1 ul h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 453px) {
  header .nav .logo a img {
    width: 85%;
  }
}
@media screen and (max-width: 437px) {
  .sec1 .p {
    font-size: 10px;
  }

  .sec1 ul h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 453px) {
  .sec7 h2 {
    font-size: 38px;
  }

  .sec7 .footer_wrap .copyrights {
    flex-direction: column;
    align-items: center;
  }

  .sec7 .footer_wrap .footer {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }

  .logo {
    padding-bottom: 20px;
  }

  .sec7 .footer_wrap .copyrights .made {
    padding-left: 0;
    border-left: none;
  }

  .sec7 .footer_wrap .copyrights .rights {
    padding-right: 0;
  }

  .sec4 .news_slider .content4 {
    padding-right: 116px;
  }
  .sec4 .news_slider .content4 h3 {
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans";
    color: #2c4058;
  }

  .sec4 .news_slider {
    overflow: auto;
  }

  .sec4 #autoplay .news_slider .img_content img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 408px) {
  .container {
    width: 85%;
  }

  .sec7 h2 {
    font-size: 30px;
  }

  .adress,
.sec7 .email,
.sec7 input {
    width: 100%;
  }

  .sec7 .adress,
.sec7 .email {
    width: 100%;
  }

  .sec7 .form {
    padding: 59px 30px 0;
  }

  .sec2 .main-content1 .shadow,
.sec3 .main-content1 .shadow {
    width: 360px;
  }
}
@media screen and (max-width: 391px) {
  .sec1 ul h2 {
    font-size: 27px;
    letter-spacing: 0;
  }

  .sec1 .p {
    letter-spacing: 0;
  }
}
@media screen and (max-width: 320px) {
  .sec3 .main-content1 .shadow {
    width: 230px;
  }
}
@media screen and (max-width: 287px) {
  .sec7 .form {
    height: 700px;
  }

  .sec2 .main-content1 .shadow {
    width: 350px;
  }

  .sec3 .main-content1 .shadow {
    width: 215px;
  }

  .sec3 .main-content1 .content2 h2 {
    font-size: 35px;
  }
}