*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}
body{
    background: #efefef;
    font-family: sans-serif;
}
ul, ol{
    list-style: none;
}
ul{
    padding-bottom: 10px;
}
a {
    color: #13456d;
    text-decoration: none;
}
a:hover{
    color: orange;
}
ol{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}