* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}

#mobile_menu {
    ul {

        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        li {

            font-size: 22px;
            text-transform: uppercase;
            font-weight: 400;
            font-family: 'Aleo', serif;
            margin: 40px;

            a {
                text-decoration: none;
                color: #000000;

                &:hover {
                    border-bottom: 3px solid #fff;
                    padding-bottom: 5px;
                }
            }
        }
    }

    padding: 30px;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 100%;
    top: 0;
    left: -100%;
    position: fixed;
    background-color: #e8e8e8;
    z-index: 110;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    &.opened {
        left: 0;
    }
}

#menu_shadow {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    &.opened {
        display: block;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

header {
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    height: 147px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .hamburger {
        display: none;
        outline: 0 none;
        position: absolute;
        top: 15%;
    }


    &.scrolled {
        height: 80px;
        background-color: #5474fd;
    }
}

p {
    font-size: 16px;
    line-height: 26px;
    width: 540px;
    color: #e8e8e8;
}

ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.section-1 {
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
    padding-top: 270px;
    padding-bottom: 152px;

    .scroll {
        padding-top: 120px;
        letter-spacing: 1px;

        svg {
            position: absolute;
            left: calc(50% + -16.5px);
            width: 15%;
        }
    }

    .content {
        text-align: center;

        h1 {
            text-transform: uppercase;
            font-size: 48px;
            letter-spacing: 3px;
            padding-bottom: 5.5px;
        }

        .subtitle {
            font-size: 22px;
            letter-spacing: 5.4px;
            padding-bottom: 49px;
        }

        .input {
            width: 100%;
            height: 59.9px;
            max-width: 650px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            background-color: #fff;
            padding: 2px;
            margin: 0 auto;

            input[type=text] {
                color: #5474fd;
                padding: 0 30px 8px;
                font-size: 24px;
                width: 77%;
                height: 57px;
                border: none;
                outline: 0 none;

                &::-webkit-input-placeholder {
                    text-align: center;
                    letter-spacing: 2.7px;
                    color: #999;
                    font-size: 12px;
                }

                &::-moz-placeholder {
                    text-align: center;
                    letter-spacing: 2.7px;
                    color: #999;
                    font-size: 12px;
                }

                &:-ms-input-placeholder {
                    text-align: center;
                    letter-spacing: 2.7px;
                    color: #999;
                    font-size: 12px;
                }

                &::placeholder {
                    text-align: center;
                    letter-spacing: 2.7px;
                    color: #999;
                    font-size: 12px;
                }

                &:focus::-webkit-input-placeholder {
                    color: transparent;
                }

                &:focus::-moz-placeholder {
                    color: transparent;
                }

                &:focus:-ms-input-placeholder {
                    color: transparent;
                }

                &:focus::placeholder {
                    color: transparent;
                }
            }

            button {
                font-family: 'Aleo', serif;
                font-size: 14px;
                text-transform: uppercase;
                color: white;
                background-color: #5474fd;
                outline: 0 none;
                width: 22.7%;
                height: 56px;
                border: 2px solid transparent;
                letter-spacing: 2px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-transition: all .2s ease;
                transition: all .2s ease;
                padding-left: 19px;
                padding-top: 2px;
                letter-spacing: 1.5px;

                svg {
                    fill: #fff;
                    height: calc(50% + 9px);
                    width: 26%;
                    padding-top: 4px;
                    padding-left: 10px;
                }

                &:hover {
                    border: 2px solid #5474fd;
                    background-color: white;
                    color: #5474fd;
                    -webkit-transition: all .2s ease;
                    transition: all .2s ease;

                    svg {
                        fill: #5474fd;
                    }
                }

                &:active {
                    background-color: #5474fd;
                    color: white;

                    svg {
                        fill: #fff;
                    }
                }

            }
        }
    }
}

header {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #5474fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 81px;

    .hamburger {
        display: none;
        outline: 0 none;
    }

    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        h2 {
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 1.5px;
        }

        #main-menu {
            z-index: 99;
            font-family: 'Aleo', serif;

            &.scrolled {
                height: 80px;
                background-color: rgba($color: #5474fd, $alpha: .8);
            }

            li {
                margin-right: 42px;

                &:last-child {
                    margin: 0;
                }

                &:hover {
                    -webkit-transform: scale(1.07);
                    transform: scale(1.07);
                }

                a {
                    font-size: 14px;
                    text-decoration: none;
                    color: #fff;
                    text-transform: uppercase;
                    line-height: 24px;
                }
            }
        }
    }
}


.section-2 {
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
    padding: 118px 0;

    .main-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        h2 {
            font-family: 'Aleo', serif;
            font-size: 36px;
            padding-bottom: 53px;
            padding-top: 79px;
        }

        .text {

            p {
                padding-bottom: 27px;
                word-spacing: 3px;
                width: 100%;
            }

            button {
                height: 60px;
                width: 225px;
                background-color: #5474fd;
                margin-top: 15px;
                border: 2px transparent;
                outline: 0 none;
                color: white;
                text-transform: uppercase;
                font-family: 'Aleo', serif;
                font-size: 16px;
                z-index: 1;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                letter-spacing: 1.3px;

                &:before {
                    content: "";
                    width: 300px;
                    height: 300px;
                    background-color: #496bfe;
                    z-index: -1;
                    -webkit-transform: rotate(50deg);
                    transform: rotate(50deg);
                    position: absolute;
                    left: -220px;
                    top: -69px;
                    -webkit-transition: all .6s ease;
                    transition: all .6s ease;
                }

                &:hover:before {
                    left: -20px;
                }

                &:active:before {
                    left: -520px;
                }
            }

        }

        .photos {
            width: 100%;
            max-width: 475px;

            .img1 {
                float: left;
            }

            .img2 {
                float: right;
            }
        }
    }
}


.section-3 {
    position: relative;
    z-index: 1;
    background-color: #333;
    padding-top: 94px;
    padding-bottom: 110px;


    svg {
        width: 100%;
    }

    .block-3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .item1 {
            width: 352px;
        }

        .item3 {
            width: 348px;


        }

        .item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;


            .svg {
                height: 83px;
                z-index: 100;
                background-color: #333;
                border-radius: 50%;

            }

            h3 {
                font-size: 36px;
                color: #ffffff;
                font-family: 'Aleo', serif;
                font-weight: 400;
                padding-top: 6px;
            }

            .svg1 {

                width: 71px;
            }

            .svg2 {
                width: 75px;
            }

            .svg3 {
                width: 73px;
            }
        }

        .dotted {
            position: absolute;
            top: 45px;
            z-index: 0;
        }


    }
}


.block-1 {
    background: rgba($color: #232323, $alpha: .9);
    padding: 50px 30px;
    height: 100%;
    width: 100%;
    max-width: 540px;

    h3 {
        font-size: 20px;
        padding-bottom: 30px;
        font-weight: 400;
        color: #fefefe;
    }

    h2 {
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        padding-bottom: 23px;
        letter-spacing: -1px;
        color: #fefefe;
    }

    p {
        width: 100%;
    }

    button {
        height: 60px;
        width: 225px;
        background-color: #5474fd;
        margin-top: 15px;
        border: 2px transparent;
        outline: 0 none;
        color: white;
        text-transform: uppercase;
        font-family: 'Aleo', serif;
        font-size: 16px;
        z-index: 1;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        letter-spacing: 1.3px;
        margin-top: 40px;

        &:before {
            content: "";
            width: 300px;
            height: 300px;
            background-color: #496bfe;
            z-index: -1;
            -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
            position: absolute;
            left: -220px;
            top: -69px;
            -webkit-transition: all .6s ease;
            transition: all .6s ease;
        }

        &:hover:before {
            left: -20px;
        }

        &:active:before {
            left: -520px;
        }
    }
}

.section-4 {
    background: url(../img/bg3.jpg) no-repeat;
    background-size: cover;
    padding-top: 228px;
    padding-bottom: 100px;
}

.section-5 {
    background: url(../img/bg4.jpg) no-repeat;
    background-size: cover;
    padding-top: 228px;
    padding-bottom: 100px;

    .flex-end {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.section-6 {
    background: url(../img/bg5.jpg) no-repeat;
    background-size: cover;
    padding-top: 116px;
    padding-bottom: 196px;


    img {
        padding-right: 59px;
    }

    h2 {
        font-size: 36px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        text-align: center;
        padding-bottom: 89px;
        word-spacing: 4px;
    }

    h3 {
        font-size: 20px;
        color: #fefefe;
        text-transform: uppercase;
        padding-top: 51px;
        padding-bottom: 37px;
        font-weight: 400;
        letter-spacing: -0.2px;
    }

    p {
        width: 100%;
        word-spacing: -3px;

        &:first-letter {
            font-size: 36px;
            color: #5474fd;
            padding-right: 10px;
        }
    }

    .content-5 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #333;
    }
}

footer {
    background: #232323;
    padding-top: 118px;
    padding-bottom: 51px;
    text-align: center;

    h4 {
        font-size: 24px;
        padding-bottom: 11px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .subtitle {
        font-size: 16px;
        color: #fefefe;
        padding-bottom: 28px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        li {
            margin-right: 22px;

            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: #e8e8e8;
            }
        }
    }

    .icon-linkedin:before {
        content: "\e900";

    }

    .icon-linkedin:hover {
        color: #5474fd;
    }

    .icon-pinterest:before {
        content: "\e901";
    }

    .icon-pinterest:hover {
        color: #e7091d;
    }

    .icon-youtube:before {
        content: "\e902";
    }

    .icon-youtube:hover {
        color: red;
    }

    .icon-twitter:before {
        content: "\e903";
    }

    .icon-twitter:hover {
        color: #00aced;
    }

    .icon-facebook:before {
        content: "\e904";
    }

    .icon-facebook:hover {
        color: #3b5998;
    }
}

@media screen and (max-width: 1170px) {
    .section-3 .block-3 .dotted {
        display: none;
    }

    .section-2 .main-content .photos {
        margin-left: 45px;
    }

    .section-6 .content-5 {
        padding: 30px;
    }
}

@media screen and (max-width: 1001px) {
    .section-6 .content-5 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .img5 {
            width: 85%;

            img {
                width: 100%;
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 976px) {

    .section-3 .block-3 .item h3 {
        font-size: 25px;
    }

    .section-3 {
        padding-top: 55px;
        padding-bottom: 55px;
    }
}

@media screen and (max-width: 942px) {

    .section-2 {
        padding: 70px;
    }

    .section-2 .main-content h2 {
        padding-top: 0;
    }

    .section-2 .main-content .photos .img1 {
        padding-right: 20px;
    }

    .section-2 .main-content .photos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {

    header {
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        position: fixed;
    }

    header .hamburger {
        display: block;
    }

    .hamburger {
        right: 0;
        position: absolute;
    }

    #main-menu {
        display: none;
    }
}


@media screen and (max-width: 740px) {
    .section-2 .main-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .photos {
            margin-left: 0;
            margin-top: 50px;

            img {
                margin-top: 20px;
            }
        }
    }


    .section-2 .main-content .photos .img1 {
        padding: 0;
    }

    .section-6 {
        padding-top: 90px;
        padding-bottom: 85px;

        h2 {
            padding-bottom: 40px;
        }
    }

    footer {
        padding-top: 51px;
    }
}

@media screen and (max-width: 720px) {
    .section-1 .content .input {
        button {
            width: 16%;
        }

        span {
            display: none;
        }
    }

    .section-1 .content .input button svg {
        width: 50%;
        left: 0;
        position: relative;
        padding-left: 0;
    }
}

@media screen and (max-width: 510px) {
    .section-1 .content .input button svg {
        width: 100%;
    }
}

@media screen and (max-width: 510px) {

    .section-2 {
        padding: 60px 0;
    }

    .section-2 .main-content .photos img {
        width: 100%;
    }

    .section-3 .block-3 .item h3 {
        font-size: 20px;
    }

    .section-4,
    .section-5 {
        padding-top: 75px;
    }

    .section-6 .content-5 .img5 {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .section-3 .block-3 .item h3 {
        font-size: 15px;
    }

    .section-1 .content h1 {
        text-transform: uppercase;
        font-size: 40px;
    }
}

@media screen and (max-width: 340px) {
    #mobile_menu ul li {
        font-size: 20px;
    }
}