* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e7ec;
    font-family: "Neue Hans Kendrick Regular", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1120px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 91px 0 79px 0;
}

.item {
    height: 540px;
    background-color: white;
    margin-bottom: 20px;
    width: 360px;
    position: relative;
    transition: all .2s ease;
}
.item:hover {
    transform: scale(1.1);
    transition: all .2s ease;
    z-index: 1;
}

.item1 {
    width: 66%;
    position: relative;
    text-align: left;
    transition: all .2s ease;
}
.item1:hover {
    transform: scale(1.1);
    transition: all .2s ease;
    z-index: 1;
}
h2 {
    width: 310px;
    margin: 0 27px;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
}

#head {
    font-size: 30px;
    color: #fff;
    position: absolute;
    bottom: 41px;
}

#head,
.data1 {
    left: 44px;
    right: 200px;
}

.data1 {
    position: absolute;
    bottom: 123px;
}

.data {
    font-size: 13px;
    text-transform: uppercase;
    margin: 29px 0 21px 28px;
    color: #818181;
}

.image {
    position: absolute;
    margin-left: 29px;
    bottom: 25px;
    
}

.loading {
    text-align: center;
    font-family: "Hans Kendrick V4 Regular", sans-serif;
    font-size: 13px;
    color: #99a5b0;
    padding-bottom: 102px;
}
.gif {
    margin: 5px;
}
.shadow {
    position: relative;
}

.shadow::before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: "";
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.6))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* w3c */
}

.shadow::after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: "";
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.6))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%); /* w3c */
}
.img {
    vertical-align: top;
}