@import 'reset';

$blue: #5585a2;
$white: #fff;
$input: #00c4c4;
$btn1: #ff6033;
$btn2: #96b92c;
$btn3: #f72b3b;
$btn4: #45aa7b;

body {
    background: #f9f8fb url(../img/bg1.png) no-repeat;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 34px;
}

#mobile_menu {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        li {
            font-size: 25px;
            text-transform: uppercase;
            font-weight: bold;
            margin: 30px;

            a {
                text-decoration: none;
                color: #000000;

                &:hover {
                    border-bottom: 3px solid #fff;
                    padding-bottom: 5px;
                }
            }
        }
    }

    padding: 30px;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 100%;
    top: 0;
    left: -100%;
    position: fixed;
    background-color: #efecee;
    z-index: 110;
    transition: all .2s ease;

    &.opened {
        left: 0;
    }
}

#menu_shadow {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
    opacity: 0;
    transition: all .3s ease;

    &.opened {
        display: block;
        opacity: 1;
    }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    transition: all .5s ease;
    height: 147px;
    display: flex;
    align-items: center;

    .hamburger {
        display: none;
        outline: 0 none;
    }

    #main-menu {
        z-index: 99;
    }

    &.scrolled {
        height: 80px;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        width: 570px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            padding-left: 38px;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;

            a {
                text-decoration: none;
                color: #262626;
                display: inline-block;
                position: relative;


                &:focus {
                    border-top: 3px solid #ff6033;

                }
            }
        }
    }
}

.section-1 {
    padding-top: 213px;
    padding-bottom: 356px;
    position: relative;

    .block-1 {
        width: 370px;

        p {
            font-size: 17px;
            line-height: 27px;
            padding-bottom: 35px;
        }

    }

    button {
        background-color: $btn1;

        &:hover {
            border: 2px solid $btn1;
            color: $btn1;
        }

        &:active {
            background-color: $btn1;
            color: $white;
        }
    }

    .scroll {
        position: absolute;
        border: 1px solid #000;
        bottom: 70px;
        left: 50%;
        top: 90%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 20px;
        height: 40px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        z-index: 10;
    }

    .scroll:after {
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        animation-name: scroll-animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        -webkit-animation-name: scroll-animation;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-name: scroll-animation;
        -moz-animation-duration: 4s;
        -moz-animation-iteration-count: infinite;
    }

    /*scroll icon animation*/
    @keyframes scroll-animation {
        0% {
            top: 0;
            opacity: 0;
        }

        30% {
            opacity: 0;
        }

        40% {
            top: 30%;
            opacity: 1;
        }

        70% {
            top: 60%;
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @-moz-keyframes scroll-animation {
        0% {
            top: 0;
            opacity: 0;
        }

        30% {
            opacity: 0;
        }

        40% {
            top: 30%;
            opacity: 1;
        }

        70% {
            top: 60%;
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes scroll-animation {
        0% {
            top: 0;
            opacity: 0;
        }

        30% {
            opacity: 0;
        }

        40% {
            top: 30%;
            opacity: 1;
        }

        70% {
            top: 60%;
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @-ms-keyframes scroll-animation {
        0% {
            top: 0;
            opacity: 0;
        }

        30% {
            opacity: 0;
        }

        40% {
            top: 30%;
            opacity: 1;
        }

        70% {
            top: 60%;
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }
}

.section-2 {
    background: #00b1b1;
    padding: 75px 0;

    .bg {
        position: relative;
        left: -60px;
    }
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .block-2 {
        color: #fff;
        right: 0;

        h2 {
            font-size: 90px;
            font-weight: 400;
        }

        .content-1 {
            line-height: 27px;
            width: 500px;
        }
    }
}

.section-3 {
    background-color: #70bfff;


    .work_zone {
        padding: 179px 0 151px 100px;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 400px;
            padding-top: 75px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                height: 100px;
                font-size: 20px;
                background-color: $white;
                margin-bottom: 20px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

                &:hover {
                    transform: scale(1.03);
                    transition: all .2s ease;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: #262626;
                    font-weight: bold;
                    height: 100px;
                    width: calc(100% - 101px);
                    text-align: center;
                }

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100px;
                    border-left: 1px solid #9d9d9d;
                    font-size: 40px;
                }
            }

        }

        .bg3 {
            background: url(../img/tomato.png) right top no-repeat;
            width: 570px;
            height: 536px;
            position: relative;

            h2 {
                position: absolute;
                right: 0;
                bottom: 240px;
                font-size: 90px;
                color: #fff;
            }
        }
    }
}

.section-4 {
    background-color: #ffe92f;


    .content-4 {
        text-align: center;
        padding-top: 102px;
        font-size: 17px;
        width: 600px;
        margin: 0 auto;
        padding-bottom: 45px;

        h2 {
            font-size: 90px;
            font-weight: bold;
            padding-bottom: 28px;
        }
    }

    img {
        box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
        vertical-align: top;
        width: 100%;
    }

    .pictures {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .img1 {
        display: flex;
        justify-content: space-between;
        width: calc(67.1% - 15px);
    }

    .pic {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(32.9% - 15px);
    }

    .pic1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .img4 {
            width: calc(50% - 15px);
        }
    }

    .btn {
        display: flex;
        justify-content: center;

        button {
            background-color: $blue;
            margin: 50px 0 120px 0;

            &:hover {
                color: $blue;
                background-color: $white;
                border: 2px solid $blue;
            }

            &:active {
                background-color: $blue;
                color: $white;
            }
        }
    }
}



.section-5 {
    background: #fff url(../img/bg4.png) bottom left no-repeat;
    color: #262626;
    padding-bottom: 163px;

    .text5 {
        padding-top: 146px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        h2 {
            padding-bottom: 34px;
            font-size: 40px;
        }

        p {
            padding-bottom: 32px;
            width: 570px;
        }
    }

    #input-0 {
        width: 570px;
        height: 55px;
        padding-left: 14px;
        outline: transparent;
        border-radius: 0;
        margin-right: 30px;

        &:focus {
            border-left: 5px solid #355b82;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    button {
        background-color: $btn2;
        height: 55px;
        width: 170px;

        &:hover {
            border: 2px solid $btn2;
            color: $btn2;
        }

        &:active {
            background-color: $btn2;
            color: $white;
        }
    }

    .email {
        display: flex;
        width: 770px;
        height: 55px;
    }

}

.section-7 {
    background-color: #b07cf7;
    color: white;


    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px 0 50px 0;

        h2 {
            font-size: 90px;
            padding-bottom: 31px;
        }

        p {
            font-size: 17px;
            line-height: 25px;
        }
    }

    .photos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    img {
        width: 100%;
        vertical-align: top;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    .item {
        position: relative;
        transition: all .5s ease;
        width: calc(33.3% - 20px);

        &:hover {
            transform: scale(1.05);
            transition: all .5s ease;
        }

        h4 {
            position: absolute;
            font-size: 25px;
            left: 20px;
            bottom: 62px;
        }
    }

    .hours {
        position: absolute;
        font-size: 13px;
        left: 21px;
        bottom: 24px;
    }

    .date {
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: rgba(26, 26, 26, .5);
        font-size: 30px;
        top: 30px;
        left: 21px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
    }

    .date-1 {
        font-size: 21px;
        font-weight: bold;
        vertical-align: top;
    }

    .shadow {
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
            content: "";
            background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            /* ff3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
            /* safari4+,chrome */
            background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            /* opera 11.10+ */
            background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            /* ie10+ */
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            /* w3c */
        }
    }

    .btn {
        display: flex;
        justify-content: center;

        button {
            background-color: $btn3;
            margin: 50px 0 120px 0;
            border: 2px solid $btn3;

            &:hover {
                color: $btn3;
                background-color: $white;
            }

            &:active {
                background-color: $btn3;
                color: $white;
            }
        }
    }
}

.section-6 {
    padding-top: 88px;
    padding-bottom: 20px;
    background: url(../img/bg6.png) center center no-repeat;
    background-size: cover;

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main {
        width: 370px;

        h2 {
            padding-bottom: 15px;
            font-size: 90px;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 17px;
            line-height: 25px;
            color: #262626;
        }

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .buttn {
        display: flex;
        justify-content: center;
    }

    #butn {
        background-color: $btn4;

        &:hover {
            background-color: $white;
            color: $btn4;
            border: 2px solid $btn4;
        }

        &:active {
            background-color: $btn4;
            color: $white;
        }

    }

    .input {
        width: 500px;
        height: 50px;
        margin-bottom: 15px;
        background-color: $input;
        opacity: .5;
        outline: 0 none;
        border: transparent;
        color: $white;
        padding-left: 20px;

        &::placeholder {
            color: $white;
        }

        &:focus {
            border-left: 5px solid #355b82;
            opacity: 1;

            &::placeholder {
                color: transparent;
            }
        }
    }

    .form {
        padding-top: 48px;
        display: flex;
        justify-content: space-between;
    }

    .form1 {
        width: 500px;
    }

    .list {
        width: 500px;

        a {
            text-decoration: none;
            color: #262626;
        }
    }

    #area {
        resize: none;
        width: 500px;
        height: 250px;
        outline: 0 none;
        background-color: $input;
        opacity: .5;
        margin-bottom: 15px;
        border: transparent;
        color: #fff;
        padding: 20px 20px;
        font-family: 'Raleway', sans-serif;

        &::placeholder {
            color: #fff;
        }

        &:focus {
            border-left: 5px solid #355b82;
            opacity: 1;

            &::placeholder {
                color: transparent;
            }
        }


    }

    dt {
        font-size: 17px;
        line-height: 25px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    dd {
        font-size: 20px;
        padding-bottom: 20px;
        line-height: 25px;
    }
}

footer {
    height: 90px;
    background-color: #262626;
    display: flex;
    align-items: center;
}

.footer {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.love {
    color: #ff2b58;
}

button:not(.hamburger) {
    outline: 0 none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    opacity: 1;
    transition: all .2s ease;
    border: 2px solid transparent;
    color: $white;

    &:hover {
        background-color: $white;
        transition: all .2s ease;
    }

    &:active {
        color: $white;
        border: 2px solid transparent;
    }
}

@media screen and (max-width: 1199px) {

    body {
        background-position: center top;
    }

    .form1,
    .section-6 .list {
        margin-left: 40px;
    }

    .work_zone .bg3 h2 {
        font-size: 81px;
    }

    .work_zone ul {
        margin-right: 50px;
    }

    .section-2 {
        padding-bottom: 0;
    }

    .container-2,
    .content .ul {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    .section-5 {
        background-position: -265px 0;
    }

}

@media screen and (max-width: 830px) {

    .section-5 .email {
        width: 100%;
    }

    .section-5 #input-0 {
        width: 570px;
        height: 55px;
        padding-left: 14px;
        outline: transparent;
        border-radius: 0;
    }

    .section-5 .text5 p {
        width: 355px;
    }

    .section-6 .form {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    header .hamburger {
        display: block;
    }

    .hamburger {
        right: 0;
        position: absolute;
    }

    .section-7 .photos {
        flex-direction: column;
        align-items: center;
    }

    .content ul {
        display: none;
    }

    .container-2 {
        text-align: center;
    }

    .section-2 .bg {
        left: -20px;
    }

    .section-3 .work_zone {
        padding: 60px 0;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .section-3 .work_zone .bg3 h2 {
        font-size: 95px;
    }

    .section-4 .pictures {
        flex-direction: column;
    }

    .section-4 .img1 {
        width: 100%;
        padding-bottom: 30px;
    }

    .section-4 .pic {
        flex-direction: row;
        width: 100%;
    }

    .img2 {
        width: calc(50% - 15px);
    }

    .section-5 {
        padding-bottom: 85px;
    }



    .section-7 .main p {
        text-align: center;
    }

    .section-7 .item {
        padding-bottom: 30px;

    }

    .section-7 .btn button {
        margin: 30px 0 80px;
    }

    .section-6 {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .form1,
    .section-6 .list {
        margin: 0;
        padding-bottom: 30px;
    }

    dl {
        text-align: center;
    }

    .section-6 #butn {
        margin-top: 20px;
    }

    .section-1 {
        padding-bottom: 403px;

        .scroll {
            top: -200px;
        }

    }

    .section-5 {
        background-position: -475px 0;
    }

    .section-6 .list,
    .section-7 .item {
        width: 70%;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    .hamburger {
        display: block;
    }

    #main-menu {
        display: none;
    }

    body {
        background-position: -650px 0;
    }

    .container-2 .block-2 .content-1 {
        width: 420px;
    }

    .section-1 .block-1 {
        width: 100%;
    }

    .section-2 {
        padding-top: 45px;
    }

    .container-2 .block-2 h2 {
        font-size: 80px;
    }

    .bg img {
        width: 100%;
    }

    .section-3 .work_zone .bg3 h2 {
        font-size: 66px;
    }

    .section-3 .work_zone .bg3 {
        background: url(../img/tomato-3.png) right top no-repeat;
        height: 460px;
    }

    .work_zone ul {
        margin: 0;
    }

    .section-3 .work_zone ul {
        padding: 0;
    }

    .section-4 .content-4 h2 {
        font-size: 80px;
    }

    .section-4 .content-4 {
        width: 395px;
    }

    .section-4 .pic {
        flex-direction: column;
    }

    .section-4 .pic1 {
        flex-direction: column;
    }

    .img2 {
        width: 100%;
        padding-bottom: 30px;
    }

    .container-2 .block-2 .content-1 {
        width: 100%;
    }

    .section-4 .pictures {
        margin: 0;
    }

    .section-4 .pic1 .img4 {
        width: 100%;
        padding-bottom: 30px;
    }

    .section-4 .btn button {
        margin: 15px 0 60px;
    }

    .section-4 .content-4 {
        padding-top: 45px;
    }

    .section-4 .content-4 {
        width: 100%;
    }

    .section-5 #input-0 {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .section-5 button {
        height: 45px;
    }

    .section-5 .email {
        flex-direction: column;
        width: 100%;
    }

    .btn1 {
        display: flex;
        justify-content: center;
    }

    .section-5 button {
        margin-top: 20px;
        padding: 10px;
    }

    .section-5 .text5 {
        padding-top: 50px;
    }

    .section-5 .text5 h2 {
        font-size: 37px;
    }

    .section-5 .text5 p {
        padding-right: 0;
        width: 100%;
    }

    .section-5 {
        padding-bottom: 95px;
    }

    .section-4 .content-4 h2,
    .section-6 .main h2,
    .section-7 .main h2 {
        font-size: 75px;
    }

    .container-2 .block-2 h2 {
        font-size: 66px;
    }

    .section-7 .main {
        padding-top: 35px;
    }

    .section-7 .item {
        width: 85%;
    }

    .section-7 .btn button {
        margin: 10px 0 60px;
    }

    .section-6 .main h2 {
        font-size: 75px;
    }

    .section-6 .input {
        width: 100%;
    }

    .section-6 #area {
        width: 100%;
    }

    .section-6 .form1,
    .section-6 .list {
        width: 400px;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 365px) {
    .section-3 .work_zone .bg3 {
        background: url(../img/tomato-4.png) right top no-repeat;
    }
}